[submodule "libs/sdl"]
	path = libs/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/gui/imgui"]
	path = libs/gui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/magic_enum"]
	path = libs/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/cli11"]
	path = libs/cli11
	url = https://github.com/CLIUtils/CLI11.git
